
<a href="http://aboutcoder.com/feed" target="_blank" title="RSS feed"><i class="fa fa-rss-square fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://www.facebook.com/jessechan0926" target="_blank" title="Find me on Facebook"><i class="fa fa-facebook-square fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://twitter.com/jeromechan369" target="_blank" title="Find me on Twitter"><i class="fa fa-twitter-square fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://cn.linkedin.com/in/chenjinlong" target="_blank" title="Find me on LinkedIn"><i class="fa fa-linkedin-square fa-3x"></i></a>&nbsp;&nbsp;
<a href="https://plus.google.com/116713175829609656403" target="_blank" title="Find me on Google+"><i class="fa fa-google-plus-square fa-3x"></i></a>&nbsp;&nbsp;
<br />
<a href="https://github.com/jeromechan" target="_blank" title="Find me on GitHub"><i class="fa fa-github fa-3x"></i></a>&nbsp;&nbsp;
<a href="http://weibo.com/201261596" target="_blank"><i class="fa fa-weibo fa-3x" title="Find me on Weibo"></i></a>&nbsp;&nbsp;
<a href="mailto:admin@aboutcoder.com" target="_blank"><i class="fa fa-envelope-o fa-3x" title="Mail to me"></i></a>&nbsp;&nbsp;